/* *{
    border: 1px solid red;
} */

body{
    display: flex;
}

#lefSide{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
}

#leftSide img{
    max-width: 100%;
    margin: 0 auto;
}

#imgSource{
    display:flex;
    position:relative;
    bottom: 30px;
    align-items: center;
    color: white;
    
}

#rightSide{
    display:flex;
    flex-direction: column;
    width: 70vw;
}

#topSection{
    height: 350px;
    background-color: gray;
}

#middleSection{
    /* flex-direction: column; */
    height: 350px;
    background-color: white;

}

#formSection{
    display: flex;
    margin: 10px;

}

#formLeft{
    display: flex;
    width: 25vw;
    height:auto;
}

#formRight{
    display: flex;
    width: 25vw;
    height:auto;
}

form{
    padding: 10px;
}
#bottomSection{
    height: 350px;
    background-color: gray;
}

#createAccount{
    color: white;
    background-color: #596D48;
    border-radius: 5px;
}