body{
    display: flex;
}

#lefSide{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: auto;
}

#leftSide img{
    max-width: 100%;
    margin: 0 auto;
}

#imgSource{
    position:relative;
    
}

#rightSide{
    display:flex;
    flex-direction: column;
    width: 70vw;
}

#topSection{
    height: 350px;
    background-color: gray;
}

#middleSection{
    height: 350px;
    background-color: white;

}

#formSection{
    display: flex;
}

#formLeft{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height:auto;
}

#formRight{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height:auto;
}


#bottomSection{
    height: 350px;
    background-color: gray;
}

#createAccount{
    color: white;
    background-color: #596D48;
    border-radius: 5px;
}